*{
  font-family: 'Courgette';
}
body{
  background-image: url('https://www.techworld.com/cmsdata/features/3665293/github_universe_thumb800.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
html{
  scroll-behavior: smooth;
}
